.flex{
    display: flex;
    flex-direction: column;
}

.main-block{
    display: flex;
    background-color: var(--ion-color-primary);
    height: 67vh;
    width: 100%;
    align-items: center;
}

.container{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.logo-container{
    padding-right: 35px;
    padding-bottom: 20px;
}

.logo-container:first-child{
    width: 50%;
}

.search-container{
    width: 50%;
}

.recent-map-container{
    display: flex;
    height: 33vh;
    width: 100%;
    flex-direction: column;
}

.recent-map-container-content {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: 25vh;
    align-items: center;
}

.divider-container {
    display: flex;
    overflow: scroll;
}

.divider{
    display: flex;
    padding: 10px;
    height: 25vh;
}

.card{
    display: flex;
    padding: 3%;
    color: val(--ion-color-secondary);
    font-size: 24px;
    font-weight: bold;
    overflow: hidden;
    border-radius: 5px;
    background-color: #FAFAFA;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.recent-map-container-title{
    display: flex;
    width: 100%;
    height: 8vh;
    padding: 10px;
    color: var(--ion-color-secondary);
    font-size: 32px;
    font-weight: bold;
}