.marker {
    background-image: url("../../../assets/png/marker.png");
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
  }


    ion-grid {
      height: 98%;
      ion-row {
        height: 100%;
      }
    }

    ion-list {
      overflow: scroll;
      height: 98%;
    }