<app-header></app-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size=4 *ngIf="hasResults()">
        <ion-list>
          <ion-card *ngFor="let result of results" (click)="handleResultClick(result.id)">
            <ion-card-content>
              <ion-grid>
                <ion-row>
                  <ion-col size=3>
                    <ion-thumbnail>
                      <img src="../../../assets/png/square_placeholder.png" alt="result placeholder">
                    </ion-thumbnail>
                  </ion-col>
                  <ion-col size=9>
                    <ion-card-title>{{ result.title }}</ion-card-title>
                    <ion-card-subtitle>{{ result.address }}</ion-card-subtitle>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-content>
          </ion-card>
        </ion-list>
      </ion-col>
      <ion-col *ngIf="!hasResults() && searchIsPending">
        <ion-list>
            <ion-card *ngFor="let index of skeletonArray()">
              <ion-card-content>
                <ion-grid>
                  <ion-row>
                    <ion-col size=3>
                      <ion-thumbnail>
                        <img src="../../../assets/png/square_placeholder.png" alt="result placeholder">
                      </ion-thumbnail>
                    </ion-col>
                    <ion-col size=9>
                      <ion-card-title>
                        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                      </ion-card-title>
                      <ion-card-subtitle>
                        <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
                      </ion-card-subtitle>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card-content>
            </ion-card>
          </ion-list>
        </ion-col>

        <ion-col *ngIf="!hasResults() && !searchIsPending">
          <ion-list>
              <ion-card>
                <ion-card-content>
                  <ion-grid>
                    <ion-row>
                      <ion-col size=3>
                        <ion-thumbnail>
                          <img src="../../../assets/png/square_placeholder.png" alt="result placeholder">
                        </ion-thumbnail>
                      </ion-col>
                      <ion-col size=9>
                        <ion-card-title>
                          Pas de résultat
                        </ion-card-title>
                        <ion-card-subtitle>
                          Essayez une autre recherche
                        </ion-card-subtitle>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-card-content>
              </ion-card>
            </ion-list>
          </ion-col>

      <!-- right column -->
      <ion-col size=8 id="map">
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>